# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/

# Data & Models
data/dataset/*.csv
app/models/*.h5
# app/models/*.pkl # Keep if model is small

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
